*{
  margin:0;
  padding:0;
}
.header{
  position: fixed;
  width: 100%;
  height:70 px;

}
.sub-header{
  position: relative;
  width: 1200px;
  height: 70px;
  margin: 0 auto;

}
.sub-header .left-menu{
  float: left;
}
.sub-header .logo a{
  position: absolute;
  width: 160px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  top: 15px;
}
.sub-header .right-menu{
  float: right;
}
 .sub-header ul li{
   float:left;
   list-style: none;
   min-width: 100px;
   height: 30px;
   line-height: 30px;
   margin:20px 2px;
 }
 .sub-header ul li a{
   display:block;
   text-align: center;
   border-radius: 4px;
   font-family: 'Roboto Condensed',sans-serif;
   letter-spacing: -0.2px;
   text-decoration: none;
   color: yellow;
   font-size: 15px;
   font-style: italic;
   border: 2px solid gold;
}
