﻿.name
{
    width:33%; 
    float:left;
    text-align:left;
}
.border
{
    border: solid 1px black;
}
label
{
    font-weight:normal !important;
    display:block  !important;
}
.divSpace
{
    height:15px;
    width:100%;
}

.personaldet
{
 width:49%; 
 float:left;
}


.divposition
{
    float:left;
    width:100%;
}

 .tdNoBorder { border : 0px !important; padding:10px !important;  line-height:13px !important; vertical-align:top !important;}
 .trBorder {border : 1px solid #cbcbcb !important; padding:10px !important;  line-height:13px !important; vertical-align:top !important;}