.headerBody { color:#1b1b1b; background:url(../images/bg-body.png);}
#shome-wrap { background:url(../images/bg-shome-wrap.png) repeat-x;}
body {color:#1b1b1b; font-family:Arial, Helvetica, sans-serif; margin: 0;padding: 0;}
a{text-decoration:none;}
.header{
   width: 100%;
   height: 70px;
   padding: 10px 0;
   background-color:#000000;
   /*background-image: -webkit-linear-gradient( #333333, #282828);
   background-image: -moz-linear-gradient(top,  #333333,  #282828);
   filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#333333', endColorstr='#282828');*/ /* IE6 & IE7 */
   /*background: -ms-linear-gradient(top, #333333, #282828);*/
   border-bottom: 6px solid #905600;
}

.pub_inner_content {
	float:left;
   /* min-height: 350px;*/
    width: 1000px;
}

.records_detail_head h2 {
    color: #000000;
    font-size: 16px;
    padding-top: 4px;
    text-transform:uppercase;
}

/*vendor_desktop starts here*/
#content_area {
    margin: 0 auto;
    width:1020px;
}
.content_page
{
float:left;
min-height:450px;
width:1000px;
padding: 30px 0 0;
background-color:#FFFFFF;
}

#contents-left {
    float: left;
    width: 658px;
}
#contents-right {
    float: right;
    width: 342px;
	margin:20px 0 0 0;
}
.home-heading {
    color: #000000;
    font: bold 16px Arial,Helvetica,Trebuchet MS,sans-serif;
    margin-top: 20px;
}
#shome-inner-content2 {
    padding: 10px 26px;
}
#shome-inner-content2 p{
	font:normal 12px Arial, Helvetica, sans-serif;
}
.header_txt{ margin:0px auto; width:1004px; text-transform:uppercase; color:#FFFFFF; font:bold 16px Arial, Helvetica, sans-serif; padding:25px 0 0 0;}
.shome-right-group { background:url(../images/bg-right-group.png) #dadada repeat-x; width:306px; border:1px solid #c6c3c3; float:right; margin-right:20px;}
h3.shome-right-header { float:left; color:#fff; font-size:13px; text-transform:uppercase; font-weight:normal; margin:-12px -8px;}
.shome-rh-first { background:url(../images/icons_sprite.png) no-repeat; background-position: -66px -236px; display:block; height:29px; width:7px; float:left;}
.shome-rh-second {background:url(../images/bg-right-head.png) repeat-x; float:left;}
#shome-myscore .shome-rh-third {padding:5px 14px 15px 33px; background:url(../images/icons_sprite.png); background-position:-200px -199px; float:left;}
.shome-right-inner { float:left; padding:30px 14px; width:278px;}
.shome-right-inner td{ padding:20px 0 0 0;}

.shome-right-inner2 { float:left; padding:0px 14px; width:278px;}
.shome-right-inner2 td{ padding:20px 0 0 0;}
.shome-right-inner2 select{ width:146px;}

.vendor_link{ margin:20px 0 20px 0;}
.vendor_link a{ margin:0 10px 0 0;}

a.view_eventlink {
    color: #1954B3;
    font-weight: bold;
    padding: 2px;
    text-decoration: underline;
}
.left_col{ float:left; width:385px;}
.right_col{ float:right; width:550px;}
.vendor_img{ float:left; background:url(../images/vendor_img.png) no-repeat; width:364px; height:327px; margin:10px 0 0 0;}

.event_box2{ float:right; width:300px; border:1px solid #ababab; border-radius: 3px 3px 3px 3px; margin:30px 60px 0 0px; height:275px;
background-image: -moz-linear-gradient(top,  #dcdcdc,  #FFFFFF);
}
.event_heading2{float:left; height:20px; font:bold 15px Arial, Helvetica, sans-serif; color:#333333; width:285px; background-color:#f79402; padding:10px 0 10px 15px; text-transform:uppercase;}

.event_box{ float:left; width:253px; border:1px solid #ababab; border-radius: 3px 3px 3px 3px; margin:30px 20px 0 0; height:175px;
background-image: -moz-linear-gradient(top,  #dcdcdc,  #FFFFFF);
}
.event_heading{float:left; height:20px; font:bold 15px Arial, Helvetica, sans-serif; color:#333333; width:238px; background-color:#f79402; padding:10px 0 10px 15px;}
.details_div{float:left; padding:18px 0 0 0px;}
.details_link{ float:left; padding:18px 0 0 15px;}
.details_link a{ float:left; padding:5px 0 0 0px; font:bold 13px Arial, Helvetica, sans-serif; color:#2e2e2e;}
.details_link a:hover{ text-decoration:underline; color:#905600;}
.event_icon1{ float:left; background:url(../images/event_icon1.png) no-repeat 0 0px; width:23px; height:25px; margin:0 10px 0 0;}
.event_icon2{ float:left; background:url(../images/event_icon2.png) no-repeat 0 0px; width:23px; height:25px; margin:0 10px 0 0;}
/*vendor_desktop ends here*/

/*common*/
.cadidate_dettab {/*border:1px solid #cbcbcb;*/ margin-top:20px;}
.cadidate_dettab  table { width:100%; text-align:left; background:#f2f2f2;}
.cadidate_dettab  table tbody tr th { border-right:1px solid #9d4515; border-bottom:1px solid #9d4515; color:#fff; line-height:13px;text-align:left; background:#ca721b; padding:8px; vertical-align:middle;}
.cadidate_dettab  table tbody tr td {border:1px solid #cbcbcb; padding:10px; line-height:13px;}
.cadidate_dettab  table tbody tr td.last { width:90px;}
.p_bold{font-weight: bold !important;}
/*.tdwth{width:25%;}*/
.tdwth select{ height: 24px;padding: 2px;width: 180px;}
.tdwth textarea{ height: 50px;padding: 2px;width: 284px;}
.tdwth input{ height: 16px;padding: 2px;width: 172px;}
.tdwth2 select{width: 180px; height: 50px; padding: 2px;}
.tdwth3 select{width: 180px; height: 50px; padding: 2px;}
.radio_btn{ height: 16px;width: 30px !important; margin:3px 0 0 0; float:left;}
.fleft{ float:left; padding:4px 4px 0 0;}
a.linkbtn{color:#FFFFFF; font:bold 12px Arial, Helvetica, sans-serif;padding: 3px 6px 6px; text-transform:uppercase; display:inline-block;border-top:1px solid #9c4615;
border-left:1px solid #9c4615;
    text-align: center;
    background-image: -moz-linear-gradient(top,  #CA721B,  #9c4615);/* IE6 & IE7 */
} 
a.linkbtn:hover{
background:#cb7218;
}
.page_btn { float:right; margin:15px 0 15px 0;}
.page_btn a{margin:0px 0px 0 10px;}
.content_wrapper{padding:10px;border:1px solid #ccc;}
.top_head_in_1{background: none repeat scroll 0 0 #CA721B; color: #FFFFFF; height: 15px; padding: 10px; font:bold 13px Arial, Helvetica, sans-serif; text-transform:uppercase; border-bottom: 1px solid #9C4615;}
.top_head_in_2{background: none repeat scroll 0 0 #fff; color: #5a5a5a; height: 38px; font:bold 13px Arial, Helvetica, sans-serif; text-transform:uppercase; border-top:1px solid #CCCCCC;border-left:1px solid #CCCCCC;border-right:1px solid #CCCCCC;}
.fright{ float:right; padding:7px 7px 7px 0;}
.sort_heading{ float:left; padding:10px 0 10px 10px; font:bold 13px Arial, Helvetica, sans-serif;}
.date_input{height: 16px;padding: 2px;width: 80px !important;}
.calendar_img{padding:10px 0 10px 5px;}
.search_display{display:none;}
.search_display2{display:none;}
.search_display3{display:none;}
.bulk_display{display:none;}
.viewbtn_popup{display:none;}
.footer{ float:left; width:100%; background-color:#000000; height:60px;}
/*common*/