@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('../fonts/glyphicons-halflings-regular.eot');
	src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
::-webkit-scrollbar {
width: 5px;
}/* for vertical scrollbars */
::-webkit-scrollbar-track {
background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
background: rgba(0, 0, 0, 0.5);
}
body {
	padding: 0 !important;
	min-height: 100%;
	font-family: Calibri, Arial, Helvetica, sans-serif;
	background: #E9EAEF;
}
.footer {
	width: 60%;
	margin: auto;
	text-align: center;
	color: #cac9c8;
	font-size: 14px;
}
.footer span {
	font-weight: normal;
}
.content-footer {
	width: 60%;
	margin: auto;
	text-align: center;
	color: #333333;
	font-size: 14px;
}
.content-footer span {
	font-weight: normal;
}
#ajaxBusy {
	display: none;
	padding: 30px 10px 10px 10px;
	position: absolute;
	margin: auto auto;
	width: 100%;
	height: 200%;
	text-align: center;
	background: #000000 url(../images/ajax-loader.gif) no-repeat center center;
	z-index: 9999;
	opacity: 0.8;
}
.welcome-content-bg {
	background: url(../images/mixed-profile-tile.jpg) no-repeat top center;
}
 @media (min-width: 768px) {
.login-panel {
	width: 50% !important;
	margin: auto;
	padding: 20px;
	/*background:#FFFFFF;*/
	background-color: rgba(255,255,255,0.15);
	border: 1px solid #666;
	border-radius: 5px;
}
.login-panel h3 {
	margin-top: 0px;
	color: #FFF;
}
.registration-panel {
	width: 50% !important;
	margin: auto;
	padding: 20px;
	/*background:#FFFFFF;*/
	background-color: rgba(255,255,255,0.15);
	border: 1px solid #666;
	border-radius: 5px;
	color: #FFF;
}
.registration-panel h3 {
	margin-top: 0px;
	color: #FFF;
}
}
 @media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
}
.navbar-brand img {
	margin-top: -15px;
}

	/* Smartphones (portrait and landscape) ----------- */
	@media(min-device-width : 320px) and (max-device-width : 480px) {
		.stack-total {

	border: none !important;
}

.navbar-brand img {
	width: 40px;
	height: 40px;
	margin-top: -10px;
}
.content-heading-padding-left {
	padding-left: 20px !important;
}
.login-heading {
	font-size: 24px !important;
	padding-bottom: 20px;
}
.head-content {
	font-size: 15px !important;
	width: 100%;
	display: none;
}
.home-welcome-content {
	font: normal Calibri, Arial, Helvetica, sans-serif;
	color: #EEEEEE;
	font-size: 13px !important;
	text-align: center;
	margin: auto;
	margin-bottom: 20px;
	font-style: italic;
	margin-top: -20px !important;
}
.login-panel {
	width: 90% !important;
	margin: auto;
	padding: 20px;
	/*background:#FFFFFF;*/
	background-color: rgba(255,255,255,0.2);
	border: 1px solid #666;
	border-radius: 5px;
}
.login-panel h3 {
	margin-top: 0px;
}
.registration-panel {
	width: 90% !important;
	margin: auto;
	padding: 20px;
	/*background:#FFFFFF;*/
	background-color: rgba(255,255,255,0.2);
	border: 1px solid #666;
	border-radius: 5px;
	color: #FFF;
}
.registration-panel h3 {
	margin-top: 0px;
}
.footer {
	font: normal 12px Calibri, Arial, Helvetica, sans-serif !important;
	color: #FFFFFF;
	width: 95% !important;
}
.content-footer {
	font: normal 12px Calibri, Arial, Helvetica, sans-serif !important;
	color: #333333;
	width: 95% !important;
}
}
	
	/* iPads (portrait and landscape) ----------- */
	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}
textarea {
	width: 100%;
	resize: none;
}
 @media only screen and (max-device-width: 768px) {
}
 @media only screen and (min-device-width: 769px) {
}
.error-div {
	padding: 10px;
	border-radius: 3px;
	margin-top: 15px;
	background: #C33;
	color: #FFF;
}
.login-panel {
	margin: auto;
	padding: 20px;
	/*background:#FFFFFF;*/
	background-color: rgba(255,255,255,0.15);
	border: 1px solid #666;
	border-radius: 5px;
}
.registration-panel {
	margin: auto;
	padding: 20px;
	/*background:#FFFFFF;*/
	background-color: rgba(255,255,255,0.15);
	border: 1px solid #666;
	border-radius: 5px;
	color: #FFF;
}
#login-body {
	background: #191e22 url(../images/bg.jpg) no-repeat top center;
	padding-left: 15px;
	padding-right: 20px;
}
#inner-body {
	background: #191e22 url(../images/bg-inner.jpg) no-repeat top center;
	padding-left: 15px;
	padding-right: 20px;
}
#registration-button {
	background: #FF9900;
	border: 1px solid #F60;
	padding-left: 20px;
	padding-right: 20px;
	color: #FFF;
	text-transform: uppercase;
}
#login-button {
	background: #FF9900;
	border: 1px solid #F60;
	padding-left: 20px;
	padding-right: 20px;
	color: #FFF;
	text-transform: uppercase;
}
.login-button-div {
	margin: auto;
	width: 80px;
}
.login-username-field {
	color: #FFFFFF;
	padding-left: 35px;
	background: rgba(0,0,0,0.55) url(../images/ref-number.png) no-repeat top left;
	border: 1px solid #999;
}
.login-password-field {
	color: #FFFFFF;
	padding-left: 35px;
	background: rgba(0,0,0,0.55) url(../images/password.png) no-repeat top left;
	border: 1px solid #999;
}
.project-partner-select-div {
	background: rgba(0,0,0,0.45);
	border: 1px solid #151515;
	padding: 15px;
	border-radius: 5px;
}
.login-heading {
	font: normal Calibri, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	margin: 0px;
	margin-bottom: 0px;
	text-align: center;
	font-size: 36px;
}
.head-content {
	font: normal Calibri, Arial, Helvetica, sans-serif;
	color: #EEEEEE;
	font-size: 16px;
	text-align: center;
	width: 70%;
	margin: auto;
	margin-bottom: 20px;
	font-style: italic;
}
.home-welcome-content {
	font: normal Calibri, Arial, Helvetica, sans-serif;
	color: #EEEEEE;
	font-size: 16px;
	text-align: center;
	margin: auto;
	margin-bottom: 20px;
	font-style: italic;
}
.forgot-pwd-content {
	color: #CCCCCC;
	margin: auto;
	width: 50%;
	text-align: center;
	margin-top: 20px;
	font-size: 14px;
}
.forgot-pwd-content a {
	color: #006aa2;
	margin: auto;
	width: 50%;
	text-align: center;
	margin-top: 20px;
}
.or-login {
	text-align: center;
	color: #FFF;
	margin-top: 15px;
	margin-bottom: 15px;
	background: url(../images/or-login.png) no-repeat center top;
	height: 24px;
}
.login-bot-icons {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.popover {
	background: tomato;
	color: #FFFFFF;
}
.popover.bottom .arrow:after {
	border-bottom-color: tomato;
}
.welcome-text {
	background: #068095;
	color: #FFFFFF;
	font-weight: bold;
	min-height: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-style: italic;
}
.welcome-text span {
	color: #d6ebf8;
	font-style: italic;
}
.welcome-text a {
	color: #FFF;
	text-decoration: underline;
	font-weight: normal;
}
/*-------------------- NAV BAR CSS STARTS HERE -------------------------------------*/

#menu-navBar {
	margin-top: 60px;
	text-align: right !important;
	background: #84344f;
	margin-top: 51px;
}
.menu-sub-item {
	float: right;
	width: auto;
	background: #5D172E;
	border-right: #84344f 1px solid;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	height: 40px;
	color: #FFF;
}
.menu-sub-item:hover {
	background: #BF6281;
	color: #FFF;
}
@media only screen and (max-width: 760px) {
.menu-sub-item {
	float: right;
	width: 100%;
	background: #5D172E;
	background: #5D172E;
	border-bottom: #84344f 1px solid;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	height: 40px;
	color: #FFF;
}
.menu-sub-item:hover {
	background: #BF6281;
	color: #FFF;
}
}
/*--------------------- NAV BAR CSS ENDS HERE ---------------------------*/


.content-table-border {
	border: 1px solid #CCC;
	border-radius: 3px;
	padding: 20px;
	margin-top: 20px;
}
.content-heading-padding-left {
	padding-left: 0px;
}
label {
	padding-top: 10px;
}
.asterisk {
	color: #F00;
}
.row-cursor {
	cursor: pointer;
}
.headlogo {
	height: 200px;
	width: 100px;
	background: #000;
	display: block;
}
.accordion-toggle:hover {
	text-decoration: none;
}
.chevron-color {
	float: right;
	color: #84344f;
}
.cam-sub-heading {
	padding-left: 15px;
	padding-top: 20px;
	font-size: 18px !important;
}
/* -------- Boarding Pass Classes Starts Here ------------------ */
.boarding-pass-odd-row {
	background: #dff0d8;
	padding: 10px;
	font-size: 14px;
	font-weight: bold;
}
.boarding-pass-even-row {
	padding: 10px;
	font-size: 14px;
	font-weight: bold;
}
.boarding-pass-bot-sign {
	text-align: center !important;
}
/* -------- Boarding Pass Classes Ends Here ------------------ */
.label-bottom-text {
	font-weight:bold;
	font-size: 16px;
	margin-top: -5px;
}
.disclaimer-text {
	font-size: 14px;
	color:#999;
}

.stack-total {
	padding: 0px;
	font-size: 18px;
	font-weight: bold;
	padding-left:8px;
	border-top: 1px solid #999;
}
.join-loc-1 {
	background: #0066ff;
	text-transform:uppercase;
	padding:10px;
	color:#FFF;
}
.join-loc-2 {
	background: #3385ff;
	text-transform:uppercase;
	padding:10px;
	color:#FFF;
}
.join-loc-3 {
	background: #4d94ff;
	text-transform:uppercase;
	padding:10px;
	color:#FFF;
}
.join-loc-4 {
	background: #66a3ff;
	text-transform:uppercase;
	padding:10px;
	color:#FFF;
}

.join-loc-5 {
	background: #80b3ff;
	text-transform:uppercase;
	padding:10px;
	color:#FFF;
}
.join-loc-6 {
	background: #99c2ff;
	text-transform:uppercase;
	padding:10px;
	color:#FFF;
}

.join-loc-7 {
	background: #006600;
	text-transform:uppercase;
	padding:10px;
	color:#FFF;
}

.join-loc-8 {
	background: #008000;
	text-transform:uppercase;
	padding:10px;
	color:#FFF;
}


.join-loc-9 {
	background: #009900;
	text-transform:uppercase;
	padding:10px;
	color:#FFF;
}

.join-loc-10 {
	background: #00b300;
	text-transform:uppercase;
	padding:10px;
	color:#FFF;
}
.join-loc-11 {
	background: #00cc00;
	text-transform:uppercase;
	padding:10px;
	color:#FFF;
}
.join-loc-12 {
	background: #00e600;
	text-transform:uppercase;
	padding:10px;
	color:#FFF;
}
.table-data {
    border: 1px solid #CCC;
}
.main-content-table-div-bg {
	background:#0066ff;
	padding:0px;
}
.inner-table-div-bg {
	background:#66a3ff;
	padding:10px;
	color:#FFF;
	border:1px solid #0066ff;
}
.call-status-well {
	background:#F60;
}
.form-section-bg {
	margin-top: 10px;
	margin-bottom: 10px;
	border-bottom: solid thin #CCC;
	background: #fff;
}
.form-submit-btn {
	font-weight: bold;
	background: #5aa1e3;
	color: #ffffff !important;
	transition: all 0.5s ease 0s;
	border: 1px solid transparent;
	border-radius: 0px;
	cursor: pointer;
	display: inline-block;
	font-size: 100%;
	line-height: 20px;
	padding: 9px 12px;
	text-decoration: none !important;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 10px;
	margin-right: 10px;
}
.form-green-submit-btn {
	font-weight: bold;
	background: #5cb85c;
	color: #ffffff !important;
	transition: all 0.5s ease 0s;
	border: 1px solid transparent;
	border-radius: 0px;
	cursor: pointer;
	display: inline-block;
	font-size: 100%;
	line-height: 20px;
	padding: 9px 12px;
	text-decoration: none !important;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 10px;
	margin-right: 10px;
}
.form-red-submit-btn {
	font-weight: bold;
	background: #d9534f;
	color: #ffffff !important;
	transition: all 0.5s ease 0s;
	border: 1px solid transparent;
	border-radius: 0px;
	cursor: pointer;
	display: inline-block;
	font-size: 100%;
	line-height: 20px;
	padding: 9px 12px;
	text-decoration: none !important;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 10px;
	margin-right: 10px;
}