<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="stylesheet/style.css">
    <title>NammaDasara</title>
    <style media="screen">
  body{
   background: url('images/ .jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Lato', sans-serif;
  }

* {box-sizing: border-box;}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: inherit;
    padding: 20px;
    float: right;
    width: 50%;
}
.two{
  float: left;
  padding-left: 20px;
}
h4,h3{
  color: green;
}
p,label,hr{
  color:brown;
}
  </style>
  </head>
  <body style="background-color:#ffeecc;">
   <header class="big-image">
     <div class="header">
       <div class="sub-header">
         <ul class="left-menu">
           <li><a href="index.html" style="color:brown; font-size:15px; border-color:brown;">Home</a></li>
           <li><a href="about.html" style="color:brown; font-size:15px; border-color:brown;">History</a></li>
           <li><a href="torisum.html" style="color:brown; font-size:15px; border-color:brown;">Torisum</a></li>
         </ul>
         <div class="logo">
          <center><a href="#"><img src="images/logo.png" width="120px;"/></a></center>
         </div>
         <ul class="right-menu">
           <li><a href="gallery.html" style="color:brown; font-size:15px; border-color:brown;">Gallery</a></li>
           <li><a href="events.html" style="color:brown; font-size:15px; border-color:brown;">Events</a></li>
           <li><a href="contact.html" style="color:brown;font-size:15px; border-color:brown;">Contact</a></li>
         </ul>
       </div>
     </div>
   </header><br><br><br><br><br><br><br><br><br>
<div class="two">
<h4>MYSORE DC OFFICE:</h4>

  <p>Phone: 0821-2422302</p>
  <p>Toll free number 1077</p>
  <br><hr style="color:brown;">

  <h4>MYSORE CITY CORPORATION:</h4>
  <p>Phone: 0821-241 8800</p>
  <br><hr style="color:brown;">
  <h4>MYSORE PALACE:</h4>
  <p>Phone: 0821-242 1051</p>
  <br><hr style="color:brown;">
  <h4>TOURISM DEPARTMENT:</h4>
  <p>Phone: 0821-2422096</p>


</div>




<div class="container">
   <h3>Registration:</h3>
  <form method="get" action="http://contact.php" >
    <div class="line"><label for="username">Username *: </label><input type="text" name="username" ng-model="username"></div>
      <div class="line"><label for="pwd">Password *: </label><input type="password" name="pwd" ng-model="pwd"></div>
      <!-- You may want to consider adding a "confirm" password box also -->
      <div class="line"><label for="surname">Surname *: </label><input type="text" name="surname" id="surname" ng-model="surname"></div>
      <div class="line"><label for="dob">Date of Birth *: </label><input type="text" name="dob" ng-model="dob"></div>
      <div class="line"><label for="email">Email *: </label><input type="text" name="email" ng-model="email"></div>
      <!-- Valid input types: http://www.w3schools.com/html5/html5_form_input_types.asp -->
      <div class="line"><label for="tel">Telephone: </label><input type="text" name="tel" ng-model="tel"></div>
      <div class="line"><label for="add">Address *: </label><input type="text" name="add" ng-model="add"></div>
      <div class="line"><label for="ptc">Post Code *: </label><input type="text" name="ptc" ng-model="ptc"></div>
      <div class="line submit"><input type="submit" value="Submit" ng-click="submit()"></div>
  </form>
</div>



  </body>
</html>
