html,body{
    height: 100%
}

/* Login page */
.login {
    background: #1c2a42 no-repeat;
    background-size: cover;
    background-attachment: fixed;	
}
.login-panel{
    top: 50%;
    left: 50%;
	width: 360px;
    height: 450px
}
.btn-login {
    color: #fff;
    background-color: #da4453;
    border-color: #da4453;
}

.footer {
	bottom: 10px;
}

.form-control  {
    border-color: #777;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.form-control:focus  {
    background: #f19100 !important;
	color: white;
}


/* pagination */

.pagination > li > a, .pagination > li > span {
    background: none;
    border:none;
    font-size:18px;
    color:#000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    background: #e12728;
    color:#fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

/* main schedule */
.main-schedule > .on-view > li > ul > li > p > span > a, 
.main-schedule > .on-view > li > ul > li > p > span > a:visited{
	color: #f19100 !important;	
}

.evtbut {
	background-color: #f19100 !important;	
}

.client-slide > div {
	padding:3px;
	opacity:1 !important;
	background-color:white !important;
	border:1px dotted grey;
}

#logistics-table > tr {
	height: 8px;
}

.sfb > a.btn {
  border: 1px solid #000000;
  background-color:#00d5ff;
  opacity:0.5;
  margin-top: 6px;
  height: 34px;
  margin-left:28px;
  margin-bottom:5px;
  border-radius:6px;
}

#borderless td, #borderless th {
	border: none !important;
}

.sfb > a.lbtn{
	background-color:#f19100;
	color:#cb0000;
	opacity:1;
	border:2px solid #cb0000;
}
